# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Environment variables & secrets
.env
.env.*
!.env.example
*.pem
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Build & cache
*.tsbuildinfo
.cache/

# IDE
.idea/
*.iml
